<h1>Fishing AI App</h1>
<p>Welcome to the Quebec fishing assistant.</p>

<ul>
  <li><%= link_to "View all lakes", lakes_path %></li>
  <li><%= link_to "View fishing trips", fishing_trips_path %></li>
  <li><%= link_to "Create a fishing trip", new_fishing_trip_path %></li>
</ul>
