<h1>All Lakes</h1>

<% if @lakes.any? %>
  <ul>
    <% @lakes.each do |lake| %>
      <li>
        <%= link_to lake.name, lake_path(lake) %>
        <% if lake.region.present? %>
          - <%= lake.region %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No lakes yet.</p>
<% end %>

<div id="map" style="height: 400px;"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const map = L.map('map').setView([46.8139, -71.2080], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    const lakes = <%= raw @lakes.to_json(only: [:name, :latitude, :longitude]) %>;

    lakes.forEach(lake => {
      if (lake.latitude && lake.longitude) {
        L.marker([lake.latitude, lake.longitude])
          .addTo(map)
          .bindPopup(lake.name);
      }
    });
  });
</script>
