<h1>Fishing Trips</h1>

<p><%= link_to "Create a new fishing trip", new_fishing_trip_path %></p>

<% if @fishing_trips.any? %>
  <ul>
    <% @fishing_trips.each do |trip| %>
      <li>
        <%= link_to "Trip ##{trip.id}", fishing_trip_path(trip) %>
        <% if trip.custom_location_name.present? %>
          - <%= trip.custom_location_name %>
        <% end %>
        <% if trip.fish_species.present? %>
          - <%= trip.fish_species %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No fishing trips yet.</p>
<% end %>
